.clear-fix:before,
.clear-fix:after {
  clear: both;
  display: table;
  content: " ";
}
.prod-reg-container {
  padding: 2em 4em;
  background: #FFF;
  margin: 4em auto;
  text-align: center;
  border-radius: 2px;
  width: 60% !important;
  background: #fff;
  border: 0.1em solid rgba(0,0,0,0.15);

  transition: all 0.3s ease-in;
}

.prod-reg-container h1 {
  margin: 0.2em 0;
  margin-bottom: 0.5em;
  color: #607d8b;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.prod-reg-container > div {
  padding: 2em 0;
}

.prod-reg-container > div > div.row {
  margin-bottom: 1.5em;
}

.prod-reg-container > div > div.row:last-of-type {
  padding-top: 1.5em;
}

.prod-reg-container div h2 {
  margin: 0.8em 0.5em;
  margin-bottom: 1em;
  padding-top: 1em;
  color: #607d8b;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
}

.input-full {
  padding: 0;
  width: 100%;
  float: left;
  border: 1px solid rgba(0,0,0,0.15);

  transition: all 0.3s ease-in;
}

.input-full i {
  height: 150px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  color: rgba(0,0,0,0.4);
  transition: all 0.3s ease-in;
}


.input-full textarea {
  resize: none;
  border: none;
  height: 150px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.8em;
  background: transparent;
  color: rgba(0,0,0,0.8);
}

.input-half {
  width: 49%;
  float: left;
  padding: 0 0.5em 0 1em;
  border: 1px solid rgba(0,0,0,0.15);

  transition: all 0.3s ease-in;
}

.input-triad {
  float: left;
  padding: 0 !important;
  border: 1px solid rgba(0,0,0,0.15);
  transition: all 0.3s ease-in;
}

.input-half i{
  height: 42px;
  background: none;
  padding-top: 1em;
  padding-left: 0.5em;
  color: rgba(0,0,0,0.4);

  transition: all 0.3s ease-in;
}

.input-triad i {
  transition: all 0.3s ease-in !important;
}

.input-triad input[type="checkbox"]:checked ~ label {
  color: #fff;
  background: #7ececa;
}

.input-triad input[type="checkbox"]:checked ~ label i {
  color: #fff;
  background: #7ececa;
}

.input-half-radio {
  width: 49%;
  float: left;
  border: 1px solid rgba(0,0,0,0.15);
  transition: all 0.3s ease-in;
}

.input-half:hover,
.input-full:hover,
.input-triad:hover {
  background: #fff;
  border: 1px solid #7ececa;
  transition: all 0.3s ease-in;
}
/* #about_user {
  margin-top: 200px;
} */
#about_company {
  top: 530px;
  margin-top: 200px;
  margin-bottom: 150px;
}
#about_product {
  top: 1050px;
  margin-top: 200px;
}
#product_deployment {
  top: 2000px;
  margin-top: 200px;
  margin-bottom: 200px;
}
#media_link {
  top: 2500px;
  margin-top: 200px;
  margin-bottom: 150px;
}
.input-half-submit {
  width: 49%;
  text-align: left;
  float: left;
  border: none;
}
.input-half-submit input[type="submit"] {
  padding: 1em 2em;
  background: rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.15);

  transition: all 0.3s ease-in;
}

.input-half-submit input[type="submit"]:hover {
  color: #fff;
  background: #f07762;
}

.input-half-submit {
  width: 49%;
  text-align: left;
  float: left;
  border: none;
}
.input-half-submit input[type="button"] {
  padding: 1em 2em;
  background: rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.15);

  transition: all 0.3s ease-in;
}

.input-half-submit input[type="button"]:hover {
  color: #fff;
  background: #f07762;
}

.submit-final {
  padding: 1em 2em !important;
  background: rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.15);

  transition: all 0.3s ease-in;
}

.submit-final:hover {
  color: #fff;
  background: #f07762;
}

.input-half-radio input[type="radio"],
.input-triad input[type="checkbox"] {
  display: none;
}

.input-half-radio label,
.input-triad label {
  margin: 0;
  display: block;
  cursor: pointer;
  font-size: 1em;
  padding: 0.8em 0;
  font-weight: 400;
  text-align: center;
  position: relative;
  background: #fff;
  color: rgba(0,0,0,0.6);
  letter-spacing: 0.08em;

  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}


.input-half-radio input[id="ppc0"]:checked ~ label[for="ppc0"],
.input-half-radio input[id="ppc1"]:checked ~ label[for="ppc1"],
.input-half-radio input[id="free0"]:checked ~ label[for="free0"],
.input-half-radio input[id="free1"]:checked ~ label[for="free1"],
.input-half-radio input[id="trial0"]:checked ~ label[for="trial0"],
.input-half-radio input[id="trial1"]:checked ~ label[for="trial1"]{
  color: #fff;
  background: #7ececa;
}

.float-right {
  float: right !important;
}

.center-half {
  width: 30%;
  border: none;
  height: 0.1em;
  color: #f07762;
  margin: 0 auto;
  background: #607d8b;
}

.input-half input,
.input-half select {
  /*width: 100%;*/
  border: none;
  line-height: 2em;
  padding: .5em 0.5em;
  color: rgba(0,0,0,0.8);
  background: transparent;

  transition: all 0.3s ease-in;
}

.input-half select {
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgba(0,0,0,0.8) !important;
}

.input-half select option {
  border: none;
  outline: none;
  height: 1.85em;
  padding: 0.5em 1em;
  color: rgba(0,0,0,0.5) !important;

  transition: all 0.3s ease-in;
}

.input-half:hover i,
.input-full:hover i,
.input-triad:hover i {
  color: #7ececa;
  transition: all 0.3s ease-in;
}

.input-half:hover input,
.input-half:hover select{
  background: #fff;
  transition: all 0.3s ease-in;
}

@media all and (max-width: 1200px) {
  .prod-reg-container {
    width: 75% !important;
    margin: 0 auto !important;
  }
}

@media all and (max-width: 950px) {
  .prod-reg-container {
    margin: 80% !important;
    margin: 0 auto !important;
  }
  .input-half {
    width: 100%;
    margin-bottom: 1.5em;
  }
}

@media all and (max-width: 720px) {
  .prod-reg-container {
    width: 85% !important;
    margin: 0 auto !important;
  }
}

@media all and (max-width: 600px) {
  .prod-reg-container {
    width: 100% !important;
     margin: 0 auto !important;
  }
}