.black-color
{
   
    font-size: 12px;
}

.not-available
{
    text-decoration: line-through;
}

.available
{
    text-decoration: none;
}

.main{margin:0; padding:0;}

body{
    font-family: montserratlight !important;
    font-size: 12px;
    line-height: 2;
    color: #424141;}
.pd10 {
    padding-top: 100px !important;
    }
.p-text{
    font-size: 16px;
    color: #4d5a6a;
    font-family: aller_lightregular;
    text-align: left;
    line-height: 26px;
    margin-top: 20px;
    float: left;}

.half-margin-bottom {
    margin-bottom: 12px;
    margin-bottom: .75rem;
}

li{list-style-type:none;}

.check-list {
    list-style: none;
}
.pd15{
    padding-left:15px;
    padding-bottom: 20px;
}
iframe{
    width:600px;
    height:320px;
    border:solid 7px #aaa;
    margin-top: 40;
}
.section-white {
    min-height: 200px;
    background: #fff !important;
    margin-bottom:30px;

}
.section-bg {
    /*min-height: 200px;*/
    background: #fafafb;
    /*padding-bottom: 0px;*/
    margin-bottom:60px;
}
.list-padding{
    padding: 12px;
    border-bottom:1px dotted #aaa;
}
.hr-custom {
    width: 900px;
    border-bottom: 1px solid #C8BFBE;
    border-radius: 5px 5px 5px 5px;
    border-top: 2px solid #C8BFBE;
    margin-top: 45px !important;
    margin-bottom:35px !important;
    float: none;
    margin: 0px auto;
    
}
.text-padding{
    padding-left:10px;
}
.pd12{
    padding-top:15px;
    padding-left:25px;
}
.gly-ok-style{
    color:#00d6cb;
}


